<div
    class="list-group keymenu list-group-expand biohazards keymenu-inactive"
    data-id="biohazards-list"
>
    <div class="list-group-actions">
        <div class="list-group-tab-wrapper">
            <span class="list-group-tab toggle-state"
                ><i class="fa fa-dot-circle-o toggle-group-tab"></i> Biohazards</span
            >
            <span class="list-group-tab"
                ><i class="fa fa-circle-o toggle-group-tab"></i> Rooms</span
            >
        </div>
        <div class="icon-trigger toggle-state">
            <i class="fa fa-caret-right keymenu-toggle-trigger"></i>
        </div>
    </div>
    <div class="list-group-actions">
        <div class="stars-ranking-rating">S.T.A.R.S.<br /><span>Ranking</span></div>
        <div class="stars-ranking-group">
            <i class="fa fa-caret-down ranking-dropdown-select dropdown-inactive"></i>
            <div class="stars-ranking-dropdown">
                <div
                    class="stars-ranking-type ranking-type-active ranking-dropdown-item"
                    data-hazard="default-biohazards"
                    data-ranking="default"
                >
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive ranking-dropdown-item eta"
                    data-hazard="eta-biohazards"
                    data-ranking="eta"
                >
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Eta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive ranking-dropdown-item zeta"
                    data-hazard="zeta-biohazards"
                    data-ranking="zeta"
                >
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Zeta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive ranking-dropdown-item epsilon"
                    data-hazard="epsilon-biohazards"
                    data-ranking="epsilon"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Epsilon</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive ranking-dropdown-item delta"
                    data-hazard="delta-biohazards"
                    data-ranking="delta"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Delta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive ranking-dropdown-item gamma"
                    data-hazard="gamma-biohazards"
                    data-ranking="gamma"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Gamma</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive ranking-dropdown-item beta"
                    data-hazard="beta-biohazards"
                    data-ranking="beta"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <span>Beta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive ranking-dropdown-item alpha"
                    data-hazard="alpha-biohazards"
                    data-ranking="alpha"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>Alpha</span>
                </div>
            </div>
            <div class="stars-ranking-display">
                <div
                    class="stars-ranking-type ranking-type-active"
                    data-hazard="default-biohazards"
                    data-ranking="default"
                >
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive eta"
                    data-hazard="eta-biohazards"
                    data-ranking="eta"
                >
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Eta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive zeta"
                    data-hazard="zeta-biohazards"
                    data-ranking="zeta"
                >
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Zeta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive epsilon"
                    data-hazard="epsilon-biohazards"
                    data-ranking="epsilon"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Epsilon</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive delta"
                    data-hazard="delta-biohazards"
                    data-ranking="delta"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Delta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive gamma"
                    data-hazard="gamma-biohazards"
                    data-ranking="gamma"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Gamma</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive beta"
                    data-hazard="beta-biohazards"
                    data-ranking="beta"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <span>Beta</span>
                </div>
                <div
                    class="stars-ranking-type ranking-type-inactive alpha"
                    data-hazard="alpha-biohazards"
                    data-ranking="alpha"
                >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>Alpha</span>
                </div>
            </div>
            <div class="ranking-select-wrapper">
                <i class="fa fa-caret-up ranking-increment ranking-select"></i>
                <i class="fa fa-caret-down ranking-decrement ranking-select"></i>
            </div>
        </div>
        <div class="icon-trigger trigger-info" id="ranking-info">
            <i class="fa fa-question"></i>
            <div class="icon-trigger-tooltip">
                <span>Fetch S.T.A.R.S. Ranking Reference</span>
            </div>
        </div>
        <div class="icon-trigger trigger-info biohazard-info" id="biohazard-info">
            <i class="fa fa-info"></i>
            <div class="icon-trigger-tooltip">
                <span>Fetch Biohazards Case Studies</span>
            </div>
        </div>
        <div class="icon-trigger trigger-info" id="biohazard-Array">
            <i class="fa fa-th"></i>
            <div class="icon-trigger-tooltip">
                <span>Fetch Biohazards Array</span>
            </div>
        </div>
        <div class="icon-trigger trigger-keys" id="biohazard-toggle-keys">
            <i class="fa keys-inactive fa-circle-o"></i>
        </div>
    </div>
    <div class="list-group-wrapper list-group-tab-content toggle-state" id="tab-list">
        <div class="list-group-item key-zombie">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="zombie"></i>
            Zombie
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-0-half"
                data-ranking="zeta"
                data-key="Zb"
            ></i>
        </div>
        <div class="icon-marker-tooltip zeta">
            <span>Zombie</span>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-crimson-head">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="crimson-head"></i>
            Crimson Head
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-1"
                data-ranking="epsilon"
                data-key="Ch"
            ></i>
        </div>
        <div class="icon-marker-tooltip epsilon">
            <span>Crimson Head</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-crimson-head-prototype-1">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="crimson-head-prototype-1"></i>
            Crimson Head <small>Prototype 1</small>
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-1-half"
                data-ranking="delta"
                data-key="Cp"
            ></i>
        </div>
        <div class="icon-marker-tooltip delta">
            <span>Crimson Head <small>Prototype 1</small></span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-cerberus">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="cerberus"></i>
            Cerberus <small>MA-39</small>
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-1"
                data-ranking="epsilon"
                data-key="Cb"
            ></i>
        </div>
        <div class="icon-marker-tooltip epsilon">
            <span>Cerberus <small>MA-39</small></span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-crow">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="crow"></i>
            Crow
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-0"
                data-ranking="eta"
                data-key="Cr"
            ></i>
        </div>
        <div class="icon-marker-tooltip eta">
            <span>Crow</span>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-fountain-plant">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="fountain-plant"></i>
            Fountain Plant
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-0"
                data-ranking="eta"
                data-key="Fp"
            ></i>
        </div>
        <div class="icon-marker-tooltip eta">
            <span>Fountain Plant</span>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-forest-speyer">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="forest-speyer"></i>
            Forest Speyer
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-1"
                data-ranking="epsilon"
                data-key="Fs"
            ></i>
        </div>
        <div class="icon-marker-tooltip epsilon">
            <span>Forest Speyer</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-yawn">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="yawn"></i>
            Yawn
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-2"
                data-ranking="beta"
                data-key="Yn"
            ></i>
        </div>
        <div class="icon-marker-tooltip beta">
            <span>Yawn</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <div class="list-group-item key-wasp">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="wasp"></i>
            Wasp
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-0-half"
                data-ranking="zeta"
                data-key="Wp"
            ></i>
        </div>
        <div class="icon-marker-tooltip zeta">
            <span>Wasp</span>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-adder">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="adder"></i>
            Adder
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-0"
                data-ranking="eta"
                data-key="Ad"
            ></i>
        </div>
        <div class="icon-marker-tooltip eta">
            <span>Adder</span>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-neptune">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="neptune"></i>
            Neptune <small>FI-03</small>
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-2"
                data-ranking="gamma"
                data-key="Nt"
            ></i>
        </div>
        <div class="icon-marker-tooltip gamma">
            <span>Neptune <small>FI-03</small></span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-plant-42">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="plant-42"></i>
            Plant 42
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-2"
                data-ranking="gamma"
                data-key="Pl"
            ></i>
        </div>
        <div class="icon-marker-tooltip gamma">
            <span>Plant 42</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-hunter">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="hunter"></i>
            Hunter <small>MA-121</small>
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-1-half"
                data-ranking="delta"
                data-key="Ht"
            ></i>
        </div>
        <div class="icon-marker-tooltip delta">
            <span>Hunter <small>MA-121</small></span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-web-spinner">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="web-spinner"></i>
            Web Spinner
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-1-half"
                data-ranking="delta"
                data-key="Ws"
            ></i>
        </div>
        <div class="icon-marker-tooltip delta">
            <span>Web Spinner</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-black-tiger">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="black-tiger"></i>
            Black Tiger
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-2"
                data-ranking="gamma"
                data-key="Bt"
            ></i>
        </div>
        <div class="icon-marker-tooltip gamma">
            <span>Black Tiger</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-chimera">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="chimera"></i>
            Chimera
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-1-half"
                data-ranking="delta"
                data-key="Cm"
            ></i>
        </div>
        <div class="icon-marker-tooltip delta">
            <span>Chimera</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <div class="list-group-item key-tyrant">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="tyrant"></i>
            Tyrant <small>T-002</small>
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-3"
                data-ranking="alpha"
                data-key="Ty"
            ></i>
        </div>
        <div class="icon-marker-tooltip alpha">
            <span>Tyrant <small>T-002</small></span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="list-group-item key-lisa-trevor">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                <i class="fa fa-star fa-stack-1x fa-inverse"></i>
            </div>
            <i class="fa fa-info-circle biohazard-info" data-info="lisa-trevor"></i>
            Lisa Trevor
            <i
                class="fa fa-exclamation-triangle fa-fw key-alt filter-key filter-inactive star-3"
                data-ranking="alpha"
                data-key="Lt"
            ></i>
        </div>
        <div class="icon-marker-tooltip alpha">
            <span>Lisa Trevor</span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
    </div>
    <div class="list-group-wrapper list-group-tab-content" id="tab-rooms"></div>
</div>
