<div class="list-group keymenu list-group-expand items keymenu-inactive" data-id="items-list">
    <div class="list-group-actions">
        <div class="list-group-tab-wrapper">
            <span class="list-group-tab toggle-state"
                ><i class="fa fa-dot-circle-o toggle-group-tab"></i> Items</span
            >
            <span class="list-group-tab"
                ><i class="fa fa-circle-o toggle-group-tab"></i> Rooms</span
            >
        </div>
        <div class="icon-trigger toggle-state">
            <i class="fa fa-caret-right keymenu-toggle-trigger"></i>
        </div>
    </div>
    <div class="list-group-actions">
        <div class="icon-trigger trigger-info" id="map-key-info">
            <i class="fa fa-info"></i>
            <!-- for map key -->
        </div>
        <div class="icon-trigger-dropdown map-key-info">
            <div class="icon-trigger-title">
                <i class="fa fa-map-marker"></i> Map Key <i class="fa fa-close dropdown-close"></i>
            </div>
            <div class="icon-trigger-item" data-map-key="stairs">
                <span>Stairs</span>
                <div class="icon-trigger-marker">
                    <div class="stairs stairs-ascending stairs-horizontal"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door">
                <span>Door</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door-one-way">
                <span>Door One Way</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-one-way door-one-way-out"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door-locked">
                <span>Locked Door</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door-puzzle">
                <span>Puzzle Door</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-puzzle"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="ladder">
                <span>Ladder</span>
                <div class="icon-trigger-marker">
                    <div class="ladder ladder-vertical"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="elevator">
                <span>Elevator</span>
                <div class="icon-trigger-marker">
                    <div class="elevator">
                        <div class="fa-stack fa-fw">
                            <i class="fa fa-level-down fa-stack-1x fa-flip-horizontal"></i>
                            <i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="safe-rrom">
                <span>Safe Room</span>
                <div class="icon-trigger-marker">
                    <i class="fa fa-refresh"></i>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="hidden-room">
                <span>Hidden Room</span>
                <div class="icon-trigger-marker">
                    <i class="fa fa-eye-slash"></i>
                </div>
            </div>
        </div>
        <div class="icon-trigger trigger-info" id="door-lock-info">
            <i class="fa fa-sign-in"></i>
            <!-- door lock info -->
        </div>
        <div class="icon-trigger-dropdown door-lock-info">
            <div class="icon-trigger-title">
                <i class="fa fa-lock"></i> Access Restrictions
                <i class="fa fa-close dropdown-close"></i>
            </div>
            <div class="icon-trigger-item" data-door-key="door-special-key">
                <span>Special Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-special-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-armor-key">
                <span>Armor Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-armor-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-sword-key">
                <span>Sword Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-sword-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-shield-key">
                <span>Shield Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-shield-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-helmet-key">
                <span>Helmet Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-helmet-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-emblem-key">
                <span>Emblem Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-emblem-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-alt-key">
                <span
                    class="difficulty-obj"
                    data-difficulty-level="JV-lvl-very-easy JV-lvl-easy JV-lvl-normal JV-lvl-hard"
                    >Lock Pick</span
                >
                <span
                    class="difficulty-obj"
                    data-difficulty-level="CR-lvl-very-easy CR-lvl-easy CR-lvl-normal CR-lvl-hard"
                    >Old Key</span
                >
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-alt-key"></div>
                </div>
            </div>
        </div>
        <div class="icon-trigger trigger-keys" id="items-toggle-keys">
            <i class="fa keys-inactive fa-circle-o"></i>
        </div>
    </div>
    <div class="list-group-wrapper list-group-tab-content toggle-state" id="tab-list">
        <div class="list-group-item key-typewriter">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-circle fa-stack-1x"></i>
                <i class="fa fa-print fa-stack-2x"></i>
                <i class="fa fa-stop-circle-o fa-stack-1x"></i>
            </div>
            &nbsp; Typewriter <small>(Save Point)</small>
            <i
                class="fa fa-bookmark fa-fw key-alt filter-key filter-inactive"
                data-key="Typewriter"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-typewriter">
            <span>Typewriter <small>(Save Point)</small></span>
            <i class="fa fa-bookmark fa-fw key-alt filter-key" data-key="Typewriter"></i>
        </div>
        <div class="list-group-item key-item-box">
            <i class="fa fa-archive fa-fw fa-2x"></i>
            &nbsp; Item-box <small>(Storage Point)</small>
            <i class="fa fa-square fa-fw key-alt filter-key filter-inactive" data-key="ItemBox"></i>
        </div>
        <div class="icon-marker-tooltip key-item-box">
            <span>Item-box <small>(Storage Point)</small></span>
            <i class="fa fa-square fa-fw key-alt filter-key" data-key="ItemBox"></i>
        </div>
        <div class="list-group-item key-kerosene">
            <i class="fa fa-fire fa-fw fa-2x"></i>
            &nbsp; Kerosene <small>(Refill Point)</small>
            <i
                class="fa fa-window-close fa-fw key-alt filter-key filter-inactive"
                data-key="Kerosene"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-kerosene">
            <span>Kerosene <small>(Refill Point)</small></span>
            <i class="fa fa-window-close fa-fw key-alt filter-key" data-key="Kerosene"></i>
        </div>
        <div class="list-group-item key-map">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-map fa-stack-2x"></i>
                <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Map
            <i class="fa fa-square fa-fw key-alt filter-key filter-inactive" data-key="Map"></i>
        </div>
        <div class="icon-marker-tooltip key-map">
            <span>Map</span>
            <i class="fa fa-square fa-fw key-alt filter-key" data-key="Map"></i>
        </div>
        <div class="list-group-item key-green-herb">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-leaf fa-stack-2x fa-flip-horizontal fa-rotate-90"></i>
                <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Green Herb
            <i class="fa fa-leaf fa-fw key-alt filter-key filter-inactive" data-key="GreenHerb"></i>
        </div>
        <div class="icon-marker-tooltip key-green-herb">
            <span>Green Herb</span>
            <i class="fa fa-leaf fa-fw key-alt filter-key" data-key="GreenHerb"></i>
        </div>
        <div class="list-group-item key-red-herb">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-leaf fa-stack-2x fa-flip-horizontal fa-rotate-90"></i>
                <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Red Herb
            <i class="fa fa-leaf fa-fw key-alt filter-key filter-inactive" data-key="RedHerb"></i>
        </div>
        <div class="icon-marker-tooltip key-red-herb">
            <span>Red Herb</span>
            <i class="fa fa-leaf fa-fw key-alt filter-key" data-key="RedHerb"></i>
        </div>
        <div class="list-group-item key-blue-herb">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-leaf fa-stack-2x fa-flip-horizontal fa-rotate-90"></i>
                <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Blue Herb
            <i class="fa fa-leaf fa-fw key-alt filter-key filter-inactive" data-key="BlueHerb"></i>
        </div>
        <div class="icon-marker-tooltip key-blue-herb">
            <span>Blue Herb</span>
            <i class="fa fa-leaf fa-fw key-alt filter-key" data-key="BlueHerb"></i>
        </div>
        <div class="list-group-item key-first-aid-spray">
            <i class="fa fa-heartbeat fa-2x"></i>&nbsp; First Aid Spray
            <i
                class="fa fa-plus-circle fa-fw key-alt filter-key filter-inactive"
                data-key="FirstAidSpray"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-first-aid-spray">
            <span>First Aid Spray</span>
            <i class="fa fa-plus-circle fa-fw key-alt filter-key" data-key="FirstAidSpray"></i>
        </div>
        <div class="list-group-item key-first-aid-box">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-medkit fa-stack-2x"></i>
                <i class="fa fa-plus-circle fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; First Aid Box
            <i
                class="fa fa-medkit fa-fw key-alt filter-key filter-inactive"
                data-key="FirstAidBox"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-first-aid-box">
            <span>First Aid Box</span>
            <i class="fa fa-medkit fa-fw key-alt filter-key" data-key="FirstAidBox"></i>
        </div>
        <div class="list-group-item key-self-defense">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-shield fa-stack-2x"></i>
                <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Self Defense
            <i
                class="fa fa-shield fa-fw key-alt filter-key filter-inactive"
                data-key="SelfDefense"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-self-defense">
            <span>Self Defense</span>
            <i class="fa fa-shield fa-fw key-alt filter-key" data-key="SelfDefense"></i>
        </div>
        <div class="list-group-item key-ink-ribbon">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-circle fa-stack-1x"></i>
                <i class="fa fa-print fa-stack-2x"></i>
                <i class="fa fa-stop-circle-o fa-stack-3x"></i>
            </div>
            &nbsp; Ink Ribbon
            <i
                class="fa fa-stop-circle-o fa-fw key-alt filter-key filter-inactive"
                data-key="InkRibbon"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-ink-ribbon">
            <span>Ink Ribbon</span>
            <i class="fa fa-stop-circle-o fa-fw key-alt filter-key" data-key="InkRibbon"></i>
        </div>
        <div class="list-group-item key-door-key">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-unlock-alt fa-stack-2x"></i>
                <i class="fa fa-key fa-stack-1x fa-flip-vertical"></i>
            </div>
            &nbsp; Key
            <i class="fa fa-key fa-fw key-alt filter-key filter-inactive" data-key="DoorKey"></i>
        </div>
        <div class="icon-marker-tooltip key-door-key">
            <span>Key</span>
            <i class="fa fa-key fa-fw key-alt filter-key" data-key="DoorKey"></i>
        </div>
        <div class="list-group-item key-document">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-file-text fa-stack-2x"></i>
                <i class="fa fa-search fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Document
            <i
                class="fa fa-file-text fa-fw key-alt filter-key filter-inactive"
                data-key="Document"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-document">
            <span>Document</span>
            <i class="fa fa-file-text fa-fw key-alt filter-key" data-key="Document"></i>
        </div>
        <div class="list-group-item key-item-of-interest">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-cubes fa-stack-2x"></i>
                <i class="fa fa-info-circle fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Item of Interest
            <i
                class="fa fa-cube fa-fw key-alt filter-key filter-inactive"
                data-key="ItemOfInterest"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-item-of-interest">
            <span>Item of Interest</span>
            <i class="fa fa-cube fa-fw key-alt filter-key" data-key="ItemOfInterest"></i>
        </div>
        <div class="list-group-item key-person-of-interest">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-users fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-2x fa-inverse"></i>
            </div>
            &nbsp; Person of Interest
            <i
                class="fa fa-user fa-fw key-alt filter-key filter-inactive"
                data-key="PersonOfInterest"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-person-of-interest">
            <span>Person of Interest</span>
            <i class="fa fa-user fa-fw key-alt filter-key" data-key="PersonOfInterest"></i>
        </div>
        <div class="list-group-item key-ammunition">
            <i class="fa fa-server fa-rotate-90 fa-2x fa-fw"></i>&nbsp; Ammunition
            <i
                class="fa fa-bullseye fa-fw key-alt filter-key filter-inactive"
                data-key="Ammunition"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-ammunition">
            <span>Ammunition</span>
            <i class="fa fa-bullseye fa-fw key-alt filter-key" data-key="Ammunition"></i>
        </div>
        <div class="list-group-item key-weapon">
            <div class="icon-group fa-stack fa-fw">
                <i class="fa fa-bullseye fa-stack-2x"></i>
                <i class="fa fa-crosshairs fa-stack-1x fa-inverse"></i>
            </div>
            &nbsp; Weapon
            <i
                class="fa fa-crosshairs fa-fw key-alt filter-key filter-inactive"
                data-key="Weapon"
            ></i>
        </div>
        <div class="icon-marker-tooltip key-weapon">
            <span>Weapon</span>
            <i class="fa fa-crosshairs fa-fw key-alt filter-key" data-key="Weapon"></i>
        </div>
    </div>
    <div class="list-group-wrapper list-group-tab-content" id="tab-rooms"></div>
</div>
