<div class="list-group keymenu list-group-expand items keymenu-inactive" data-id="items-list">
    <div class="list-group-actions">
        <div class="list-group-tab-wrapper">
            <span class="list-group-tab toggle-state"
                ><i class="fa fa-dot-circle-o toggle-group-tab"></i> Items</span
            >
            <span class="list-group-tab"
                ><i class="fa fa-circle-o toggle-group-tab"></i> Rooms</span
            >
        </div>
        <div class="icon-trigger toggle-state">
            <i class="fa fa-caret-right keymenu-toggle-trigger"></i>
        </div>
    </div>
    <div class="list-group-actions">
        <div class="icon-trigger trigger-info" id="map-key-info">
            <i class="fa fa-info"></i>
            <!-- for map key -->
        </div>
        <div class="icon-trigger-dropdown map-key-info">
            <div class="icon-trigger-title">
                <i class="fa fa-map-marker"></i> Map Key <i class="fa fa-close dropdown-close"></i>
            </div>
            <div class="icon-trigger-item" data-map-key="stairs">
                <span>Stairs</span>
                <div class="icon-trigger-marker">
                    <div class="stairs stairs-ascending stairs-horizontal"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door">
                <span>Door</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door-one-way">
                <span>Door One Way</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-one-way door-one-way-out"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door-locked">
                <span>Locked Door</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="door-puzzle">
                <span>Puzzle Door</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-puzzle"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="ladder">
                <span>Ladder</span>
                <div class="icon-trigger-marker">
                    <div class="ladder ladder-vertical"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="elevator">
                <span>Elevator</span>
                <div class="icon-trigger-marker">
                    <div class="elevator">
                        <div class="fa-stack fa-fw">
                            <i class="fa fa-level-down fa-stack-1x fa-flip-horizontal"></i>
                            <i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="safe-rrom">
                <span>Safe Room</span>
                <div class="icon-trigger-marker">
                    <i class="fa fa-refresh"></i>
                </div>
            </div>
            <div class="icon-trigger-item" data-map-key="hidden-room">
                <span>Hidden Room</span>
                <div class="icon-trigger-marker">
                    <i class="fa fa-eye-slash"></i>
                </div>
            </div>
        </div>
        <div class="icon-trigger trigger-info" id="door-lock-info">
            <i class="fa fa-sign-in"></i>
            <!-- door lock info -->
        </div>
        <div class="icon-trigger-dropdown door-lock-info">
            <div class="icon-trigger-title">
                <i class="fa fa-lock"></i> Access Restrictions
                <i class="fa fa-close dropdown-close"></i>
            </div>
            <div class="icon-trigger-item" data-door-key="door-special-key">
                <span>Special Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-special-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-armor-key">
                <span>Armor Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-armor-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-sword-key">
                <span>Sword Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-sword-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-shield-key">
                <span>Shield Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-shield-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-helmet-key">
                <span>Helmet Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-helmet-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-emblem-key">
                <span>Emblem Key</span>
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-emblem-key"></div>
                </div>
            </div>
            <div class="icon-trigger-item" data-door-key="door-alt-key">
                <span
                    class="difficulty-obj"
                    data-difficulty-level="JV-lvl-very-easy JV-lvl-easy JV-lvl-normal JV-lvl-hard"
                    >Lock Pick</span
                >
                <span
                    class="difficulty-obj"
                    data-difficulty-level="CR-lvl-very-easy CR-lvl-easy CR-lvl-normal CR-lvl-hard"
                    >Old Key</span
                >
                <div class="icon-trigger-marker">
                    <div class="door door-vertical door-locked door-alt-key"></div>
                </div>
            </div>
        </div>
        <div class="icon-trigger trigger-keys" id="items-toggle-keys">
            <i class="fa keys-inactive fa-circle-o"></i>
        </div>
    </div>
    <div class="list-group-wrapper list-group-tab-content toggle-state" id="tab-list">
        <!-- Items list content will be dynamically generated by itemsListRenderer -->
        <div class="list-group"></div>
    </div>
    <div class="list-group-wrapper list-group-tab-content" id="tab-rooms"></div>
</div>
